.optional-section {
    display: none;
    margin-top: 10px;
}

.optional-section.show {
    display: block !important;
}

.file-info {
    display: block;
    margin-top: 7px;
    color: #777;
    font-size: 13px;
}

.preview {
    display: none;
    margin-top: 15px;
}

.preview.show {
    display: block;
}

.preview img {
    max-width: 300px;
    max-height: 250px;
    border-radius: 8px;
    border: 1px solid #ddd;
    object-fit: contain;
}
